.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section {
  display: flex;
  justify-content: space-around;
}

.container-row {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}
